/*mobile device defualt */

body {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 100%;
    margin: 0 auto;
    grid-template-areas:
    ". alert-info ."
    ". company ."
    ". nav ."
    ". img ."
    ". main ."
    ". sub-section ."
    ". footer .";
}

nav {
    width: 100%;
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
ul {
    margin: 0 4px 0 4px;

}

li a {
    display: flex;
    /*width: 100%;*/
    margin: 10px 0 10px 0;
    background: grey;
    justify-content: center;
}

nav ul {
    padding-inline-start: 0;
}
.nav-links  {
    list-style: none;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}

.alert-info {
    background-color: #CCFEFF;
    margin: 10px;
    border: 2px solid grey;
    grid-area: alert-info;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 339px;
    width: 290px;
}


html body h1 {
     /* this is the h1 HEADER */
    grid-area: company;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img {
    width: 100%;
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main  {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub-section {
    flex-direction: column;
    grid-area: sub-section;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* desktop */
@media screen and (min-width: 100px) {
    body{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(7, auto);
        grid-template-areas:
        "company nav"
        "img img"
        "main sub-section"
        ". ."
        ". ."
        ". ."
        "footer footer"
        ". .";
    }

    nav {
        display: block;
        grid-area: nav;
    }

    .alert-info {
        grid-area: alert-info;
    }

    .header-img {
        grid-area: img;
    }

    #main {
        grid-area: main;
    }

    .sub-section {
        grid-area: sub-section;
    }

    footer {
        grid-area: footer;
    }

    html body h1 {
        grid-area: company;
    }
    .alert-info {
        display: none;
    }

}






