/*mobile device defualt */

body {
    display: grid;
    grid-template-columns: 1;
    width: 100%;
    margin: 0 auto;
    grid-template-areas:
    "alert-info"
    "company"
    "nav"
    "img"
    "main"
    "sub-section"
    "footer";
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
}
ul {
    margin: 0 5px 0 5px;
}

li a {
    display: flex;
    width: 100%; /* this makes the background color spam entire webpage */
    margin: 10px 5px 10px 5px;
    padding: 10px;
    background: grey;
    justify-content: center;
}

.nav-links li {
    display: flex;
    flex-direction: row;
}

nav ul {
    width: 100%; /* this is needed to make the mobile wenpage background span entire page*/
    padding-inline-start: 0;
}
.nav-links  {
    list-style: none;

}

.alert-info {
    background-color: #CCFEFF;
    margin: 10px;
    padding: 10px;
    border: 2px solid grey;
    grid-area: alert-info;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 339px;
    width: 290px;
}


html body h1 {
     /* this is the h1 HEADER */
    grid-area: company;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img {
    width: 100%;
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main  {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub-section {
    flex-direction: column;
    grid-area: sub-section;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* desktop */
@media screen and (min-width: 700px) {
    body{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
        "company nav"
        "img img"
        "main sub-section"
        ". . "
        ". ."
        ". ."
        "footer social-media";
    }

    nav {
        display: block;
        grid-area: nav;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        padding: 1em 2em 1em 1em;
    }
    .nav-links {
        display: flex;
        align-items: center;
        float: right;
    }

    .nav-links li a {
        padding: 12px;
    }

    li a {
        background-color: transparent;

    }

    .alert-info {
        grid-area: alert-info;
    }

    .header-img {
        grid-area: img;
    }

    #main {
        grid-area: main;
    }

    .sub-section {
        grid-area: sub-section;
    }

    img {
        display: block;
        height: 400px;
        width: 900px;
    }

    footer {
        grid-area: footer;
        display: flex;
        justify-content: flex-start;
        padding-top: 100px;
    }

    html body h1 {
        grid-area: company;
        display: block;
        float: left;
        padding: 12px;
    }

    #social-media-links {
        grid-area: social-media;
    }

    .alert-info {
        display: none;
    }

}






